<div class="card mr-auto ml-auto col-md-4 nopadding">
  <div class="card-header"><h5>Company Detail</h5> </div>
  <div class="card-body">
    <div class="alert alert-danger" id="error-alert" role="alert" *ngIf="IsError">
      <strong>Error!</strong> {{errorMsg}}
    </div>
    <div class="alert alert-success" id="success-alert" role="alert" *ngIf="IsSucess">
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()"><span aria-hidden="true">&times;</span></button>
      <strong>Success!</strong> {{successMsg}}
    </div>

    <form #companyAdd="ngForm" (ngSubmit)="onSaveCompany()" novalidate>
      <!--userAdd.reset()-->

      <div class="form-group">
        Company Name<strong class="text-danger"> *</strong>
        <input type="text" required #companyName="ngModel" name="companyName" pattern="^[a-zA-Z'\s]+$" [class.is-invalid]="companyName.invalid && companyName.touched || companyName.errors?.pattern"
               class="form-control" [(ngModel)]="companyModel.companyName" placeholder="i.e. Mapple wood enterprise" maxlength="50" />
        <small class="text-danger" *ngIf="companyName.errors?.required && companyName.touched">* Company Name is required</small>
        <small class="text-danger" *ngIf="companyName.errors?.pattern">* Company Name is invalid</small>
      </div>

      <div class="form-group">
        First Name<strong class="text-danger"> *</strong>
        <input type="text" required #firstName="ngModel" name="firstName" pattern="^[a-zA-Z'\s]+$" [class.is-invalid]="firstName.invalid && firstName.touched || firstName.errors?.pattern"
               class="form-control" [(ngModel)]="userModel.firstName" placeholder="i.e. John" maxlength="50" />
        <small class="text-danger" *ngIf="firstName.errors?.required && firstName.touched">* First Name is required</small>
        <small class="text-danger" *ngIf="firstName.errors?.pattern">* First Name is invalid</small>
      </div>

      <div class="form-group">
        Last Name<strong class="text-danger"> *</strong>
        <input type="text" required #lastName="ngModel" name="lastName" pattern="^[a-zA-Z'\s]+$" [class.is-invalid]="lastName.invalid && lastName.touched || lastName.errors?.pattern"
               class="form-control" [(ngModel)]="userModel.lastName" placeholder="i.e Smith" maxlength="50" />
        <small class="text-danger" *ngIf="lastName.errors?.required && lastName.touched">* Last Name is required</small>
        <small class="text-danger" *ngIf="lastName.errors?.pattern">* Last Name is invalid</small>
      </div>

      <div class="form-group">
        Admin Email Id<strong class="text-danger"> *</strong>
        <input type="text" required pattern="[a-zA-Z0-9._-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" #email="ngModel" name="email"
               [class.is-invalid]="email.invalid && email.touched || email.errors?.pattern" maxlength="150"
               class="form-control" [(ngModel)]="userModel.email" placeholder="i.e. email@example.com" />
        <small class="text-danger" *ngIf="email.errors?.required && email.touched">* Email is required</small>
        <small class="text-danger" *ngIf="email.errors?.pattern">* Email is invalid</small>
      </div>

      <div class="form-group">
        Employee Code<strong class="text-danger"> *</strong>
        <input type="text" required #employeeCode="ngModel" name="employeeCode" [class.is-invalid]="employeeCode.invalid && employeeCode.touched"
               class="form-control" [(ngModel)]="userModel.employeeCode" placeholder="i.e. EMP101" maxlength="10"/>
        <small class="text-danger" *ngIf="employeeCode.errors?.required && employeeCode.touched">* Employee Code is required</small>
      </div>

      <div class="form-group">
        No. of User Subscription
        <input type="text" #userSubscription="ngModel" name="userSubscription" pattern="^[0-9]*$" [class.is-invalid]="userSubscription.touched && userSubscription.errors?.pattern"
               class="form-control" [(ngModel)]="companyModel.userSubscription" placeholder="i.e 10" maxlength="2" />
        <small class="text-danger" *ngIf="userSubscription.errors?.pattern">* No. of user is invalid</small>
      </div>

      <div class="form-group form-row form-inline">
        <div class=" col-md-12 ">
          <button class="btn btn-primary" [disabled]="companyAdd.form.invalid || is_progress" type="submit" style="width:120px;">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="is_progress"></span>
            {{saveBtnTxt}}
          </button>
          &nbsp; &nbsp;
          <button class="btn btn-outline-primary" style="width:120px;" type="reset" [routerLink]="['/login']">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>


