<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Messages -->
    <div class="alert alert-danger" id="error-alert" role="alert" *ngIf="isError"><strong>Error!</strong> {{message}}</div>
    <div class="alert alert-success" id="success-alert" role="alert" *ngIf="isSucess"><strong>Success!</strong> {{message}}</div>
    <!-- Title -->
    <div class="fadeIn first">
      <h3 class="m-5">Forgot Password?</h3>
      <p>If you have forgotten your password you can reset it here.</p>
    </div>

    <!-- Form -->
    <form (submit)="sendEmail(emailTxt)" #forgotPwd="ngForm" novalidate>
      <div class="form-group">
        <input type="text" id="login" class="fadeIn second" name="emailTxt" placeholder="Enter registered email address" [(ngModel)]="emailTxt"
               autocomplete="off" required pattern="[a-zA-Z0-9._-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" maxlength="100"
               [class.is-invalid]="forgotPwd.controls['emailTxt']?.touched && forgotPwd.controls['emailTxt']?.invalid || forgotPwd.controls['emailTxt']?.errors?.pattern">
        <p class="text-danger" *ngIf="forgotPwd.controls['emailTxt']?.errors?.required && forgotPwd.controls['emailTxt']?.touched">* Email is required!</p>
        <p class="text-danger" *ngIf="forgotPwd.controls['emailTxt']?.errors?.pattern">* Email is invalid!</p>
      </div>

      <!--<div class="form-group">
        <input type="password" id="password" class="fadeIn third" placeholder="Password" name="password" [(ngModel)]="credentials.password" #password="ngModel" autocomplete="off" required>
        <div class="text-danger" *ngIf="password.touched && password.invalid && password.errors.required">* Password is required!</div>
      </div>-->

      <div class="form-group">
        <input type="submit" class="fadeIn third" value="Send Email" [disabled]="forgotPwd.invalid">
      </div>

      <span class="spinner-grow text-primary mb-3" role="status" aria-hidden="true" *ngIf="isProgress"></span>

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/login']">Go to Login</a>
    </div>

  </div>
</div>
