<div class="card">
  <div class="card-header"><h5>Lead Details</h5> </div>
  <div class="card-body">

    <form>

      <div class="form-row">

        <div class="col-sm form-group form-inline">
          Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" style="width:80%" placeholder="Search by First Name, Last Name or Mobile Number" />
          <span class="spinner-border spinner-border text-primary ml-3" role="status" aria-hidden="true" *ngIf="service.loading$ | async"></span>
        </div>
        <div class="col-sm form-group">
          <button type="button" class="btn btn-primary float-right" style="width:120px;" [routerLink]="['/lead-create']" *ngIf="isTeleCaller"> <i class="fas fa-plus mr-2"></i> Add</button>
          <button type="button" class="btn btn-success float-right mr-4" style="width:120px;" (click)="exportAsXLSX()"> <i class="fas fa-file-excel mr-2"></i> Export</button>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-2 form-group" *ngIf="isTeleCaller">
          Status: <select class="form-control custom-select" [(ngModel)]="outComeId" name="outComeId">
            <option value="0">All</option>
            <option *ngFor="let objOutCome of outcomeList" [selected]="objOutCome.outComeId === 1" value="{{objOutCome.outComeId}}"> {{objOutCome.outCome}}</option>
          </select>
        </div>
        <div class="col-sm-2 form-group" *ngIf="isManager">
          Status: <select class="form-control custom-select" [(ngModel)]="appoinStatusId" name="appoinStatusId">
            <option value="0">All</option>
            <option *ngFor="let aStatus of appoinStatusList" [selected]="aStatus.appoinStatusId === 7" value="{{aStatus.appoinStatusId}}"> {{aStatus.status}}</option>
          </select>
        </div>
        <div class="col-sm-2 form-group">
          {{allocateCreateByTxt}}: <select class="form-control custom-select" [(ngModel)]="filteruserId" name="filteruserId">
            <option value="0">All</option>
            <option *ngFor="let user of filterUserList" value="{{user.userId}}"> {{user.firstName}} {{user.lastName}}</option>
          </select>
        </div>
        <div class="col-sm form-inline form-group" style="margin-bottom:-5px;">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary">{{filterDateOption}}</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="btn dropdown-item" (click)="onChangeFilterDateOption(1)">Created Date</a>
              <a class="btn dropdown-item" (click)="onChangeFilterDateOption(2)">Appoinment Date</a>
            </div>
          </div>
          <div class="input-group">
            <input ngbDatepicker class="form-control" #fDate="ngbDatepicker" [(ngModel)]="fromDate" name="fDate" placeholder="From Date" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="fDate.toggle()" type="button"></button>
            </div>
          </div>
          <div class="input-group">
            <input ngbDatepicker class="form-control" #tDate="ngbDatepicker" [(ngModel)]="toDate" name="tDate" placeholder="To Date" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="tDate.toggle()" type="button"></button>
            </div>
          </div>
          <div class="col-sm">
            <button type="button" class="btn btn-outline-primary" placement="right" ngbTooltip="Filter" (click)="onFilterSearch()"><i class="fas fa-search"></i></button>
          </div>
        </div>
       
        
        <!--Search: <input class="form-control ml-2" type="text" name="listFilter" [(ngModel)]="listFilter" placeholder="Search by any value" />-->
        <!--<span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>-->


      </div>


      <table class='table table-striped table-sm' aria-labelledby="tableLabel">
        <!--datatable [dtOptions]="dtOptions"-->
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" sortable="firstName" (sort)="onSort($event)">First Name</th>
            <th scope="col" sortable="lastName" (sort)="onSort($event)">Last Name</th>
            <th scope="col" sortable="mobileNumber" (sort)="onSort($event)">Mobile No.</th>
            <th scope="col" sortable="address" (sort)="onSort($event)">Address</th>
            <th scope="col" sortable="createdDate" (sort)="onSort($event)">Created Date</th>
            <th scope="col" sortable="outComeText" (sort)="onSort($event)">Status</th>
            <th scope="col" sortable="createdByName" (sort)="onSort($event)" *ngIf="isManager">Created By</th>
            <th scope="col" sortable="allocatedToName" (sort)="onSort($event)" *ngIf="isTeleCaller">Allocated To</th>
            <th scope="col" sortable="appointmentDateTime" (sort)="onSort($event)">Appoinment DateTime</th>
            <th scope="col" sortable="remark" (sort)="onSort($event)">Remarks</th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lead of leadList | async; index as i">
            <th scope="row">{{service.pageSize * (service.page - 1) + i + 1  }}</th>
            <!--<td> <ngb-highlight [result]="user.firstName" [term]="filter.value"></ngb-highlight></td>-->
            <td> <ngb-highlight [result]="lead.firstName" [term]="service.searchTerm"></ngb-highlight></td>
            <td> <ngb-highlight [result]="lead.lastName" [term]="service.searchTerm"></ngb-highlight></td>
            <td> <ngb-highlight [result]="lead.mobileNumber" [term]="service.searchTerm"></ngb-highlight></td>
            <td> <ngb-highlight [result]="lead.address" [term]="service.searchTerm"></ngb-highlight></td>
            <td> <ngb-highlight [result]="lead.createdDate | date" [term]="service.searchTerm"></ngb-highlight></td>
            <td> <ngb-highlight [result]="lead.outComeText" [term]="service.searchTerm"></ngb-highlight></td>
            <td *ngIf="isManager"> <ngb-highlight [result]="lead.createdByName" [term]="service.searchTerm"></ngb-highlight></td>
            <td *ngIf="isTeleCaller"> <ngb-highlight [result]="lead.allocatedToName" [term]="service.searchTerm"></ngb-highlight></td>
            <td> <ngb-highlight [result]="lead.appointmentDateTime | date:'medium'" [term]="service.searchTerm"></ngb-highlight></td>
            <td> <ngb-highlight [result]="lead.remark" [term]="service.searchTerm"></ngb-highlight></td>
            <!--<td> <ngb-highlight [class]="user.status ? 'badge badge-success' : 'badge badge-danger' " [result]="user.status ? 'Active' : 'Inactive'" [term]="service.searchTerm"></ngb-highlight></td>-->
            <td *ngIf="isTeleCaller"> <a placement="top" ngbTooltip="Edit Lead" class="btn btn-sm" (click)="editLead(lead.callId)"><i class="fas fa-edit"></i></a></td>
            <td *ngIf="isManager"> <a placement="top" ngbTooltip="Follow up" class="btn" (click)="followUp(lead.callId)"><i class="fas fa-phone-square-alt"></i></a></td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>
        <strong>Total Leads : {{total$ | async}}</strong>
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
        </select>
      </div>

    </form>

  </div>
</div>
