<div class="card">
  <div class="card-header" style="padding-top:6px;padding-bottom:6px">
    <h5 class="card-title mb-0 mt-2">Telecaller Lead Details</h5>
    <div class="card-tools form-inline">
      <div *ngIf="isCheckedBox">
        <button *ngIf="isAdmin" type="button" class="btn btn-outline-secondary mr-2" placement="top" ngbTooltip="Re-Allocate" data-toggle="modal" data-target="#modelReAllocate"><i class="fas fa-random"></i></button>
        <button *ngIf="isAdmin" type="button" class="btn btn-outline-danger mr-2" placement="top" ngbTooltip="Delete Leads" data-toggle="modal" data-target="#modelDeleteConfirm"><i class="fas fa-trash-alt"></i></button>
      </div>

      <div class="btn-group mr-2" *ngIf="isAdmin">
        <!--[ngClass]="{'btn-group mr-4': !isAdmin}"-->
        <button type="button" class="btn btn-outline-success" style="width:100px;" (click)="exportAsXLSX()"> <i class="fas fa-file-excel mr-2"></i> Export</button>
        <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="btn dropdown-item text-success" data-toggle="modal" data-target="#modelImportExcel"><i class="fas fa-file-upload mr-2"></i> Import</a>
        </div>
      </div>

      <button type="button" *ngIf="!isAdmin" class="btn btn-outline-success mr-2" style="width:100px;" data-toggle="modal" data-target="#modelImportExcel"><i class="fas fa-file-upload mr-2"></i> Import</button>

      <button type="button" class="btn btn-outline-primary" style="width:100px;" (click)="onOpenLeadModal(0)"> <i class="fas fa-plus mr-2"></i> Add</button> <!--[routerLink]="['/lead-create']"-->

      <button type="button" class="btn btn-tool" data-card-widget="remove" (click)="onCardClose()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <!--<div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>-->

  </div>

  <div class="card-body pt-1">

    <form>
      <div class="form-row form-inline mb-2">
        <div class="form-group col-md-12">
         Status:&nbsp;<ng-select [items]="outcomeList"
                             [multiple]="true"
                             [closeOnSelect]="false"
                             [searchable]="true"
                             bindLabel="outCome"
                             bindValue="outComeId"
                             placeholder="All"
                             [(ngModel)]="outComeId"
                             [ngModelOptions]="{standalone: true}" style="width:92%;" >
          </ng-select>

          <!--<select class="form-control custom-select" [(ngModel)]="outComeId" name="outComeId">
            <option value="0">All</option>
            <option *ngFor="let objOutCome of outcomeList" [selected]="objOutCome.outComeId === 0" value="{{objOutCome.outComeId}}"> {{objOutCome.outCome}}</option>
          </select>-->
        </div>


      </div>
      <div class="form-row form-inline mb-2">
        <div class="col-md-3 form-group">
          {{allocateCreatedBytxt}}:&nbsp;<select class="form-control custom-select" [(ngModel)]="filteruserId" name="filteruserId" style="width:70%">
            <option value="0">All</option>
            <option *ngFor="let user of filterUserList" value="{{user.userId}}"> {{user.firstName}} {{user.lastName}}</option>
          </select>
        </div>

        <div class="col-md-5 form-inline form-group">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary">{{filterDateOption}}</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="btn dropdown-item" (click)="onChangeFilterDateOption(1)">Created Date</a>
              <a class="btn dropdown-item" (click)="onChangeFilterDateOption(2)">Appointment Date</a>
              <a class="btn dropdown-item" (click)="onChangeFilterDateOption(3)">Last Change Date</a>
            </div>
          </div>
          <div class="input-group" >
            <input ngbDatepicker class="form-control" #fDate="ngbDatepicker" [(ngModel)]="fromDate" name="fDate" placeholder="From Date" style="width:110px" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="fDate.toggle()" type="button"></button>
            </div>
          </div>
          <div class="input-group" >
            <input ngbDatepicker class="form-control" #tDate="ngbDatepicker" [(ngModel)]="toDate" name="tDate" placeholder="To Date" style="width:110px" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="tDate.toggle()" type="button"></button>
            </div>
          </div>
        </div>

        <div class="col-md-3 form-group has-search">
          <span class="fas fa-search form-control-feedback"></span>
          <input class="form-control" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" ngbTooltip="Search by First Name, Last Name or Mobile Number" [openDelay]="700" placeholder="Search" style="width:100%"/>
        </div>

        <div class="col-md-1 form-inline form-group">
          <button type="button" class="btn btn-outline-primary form-control mr-4" ngbTooltip="Filter" (click)="onFilterSearch()"><i class="fas fa-search"></i></button>
          <span class="spinner-border text-primary form-control" style="margin-bottom:-5px" role="status" aria-hidden="true" *ngIf="isLoading || (service.loading$ | async)"></span>
        </div>

      </div>

      <div class="search-results" style="overflow-x:auto;" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
        <table class='table table-striped table-sm layout-fixed' aria-labelledby="tableLabel">
          <!--datatable [dtOptions]="dtOptions"-->
          <thead>
            <tr>
              <th scope="col">
                <div class="custom-control custom-checkbox">
                  <input *ngIf="isAdmin" type="checkbox" class="custom-control-input" id="selectAll" (click)="onSelectAllLeads($event.currentTarget.checked)">
                  <label class="custom-control-label" for="selectAll">#</label>
                </div>
              </th>
              <!--<th scope="col" *ngIf="isTeleCaller">#</th>-->
              <th scope="col" sortable="firstName" (sort)="onSort($event)">Client Name</th>
              <!--<th scope="col" sortable="lastName" (sort)="onSort($event)">Last Name</th>-->
              <th scope="col" sortable="mobileNumber" (sort)="onSort($event)">Mobile No.</th>
              <!--<th scope="col" sortable="emailId" (sort)="onSort($event)">Email Id</th>-->
              <!--<th scope="col" sortable="address" (sort)="onSort($event)">Address</th>-->
              <th scope="col" sortable="cityName" (sort)="onSort($event)">City</th>
              <!--<th scope="col" sortable="stateName" (sort)="onSort($event)">State</th>-->
              <th scope="col" sortable="createdByName" (sort)="onSort($event)" *ngIf="isAdmin">Created By</th>
              <th scope="col" sortable="createdDate" (sort)="onSort($event)">Created Date</th>
              <th scope="col" sortable="outComeText" (sort)="onSort($event)">Status</th>
              <th scope="col" sortable="nextCallDate" (sort)="onSort($event)">Next Call DateTime</th>
              <th scope="col" sortable="allocatedToName" (sort)="onSort($event)">Allocated To</th>
              <th scope="col" sortable="appointmentDateTime" (sort)="onSort($event)">Appointment DateTime</th>
              <th scope="col" sortable="remark" (sort)="onSort($event)">Remarks</th>
              <th scope="col">Actions</th>
              <!--<th scope="col"></th>-->
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let lead of leadList | async; index as i" [ngClass]="{'text-danger': lead.isOverDue == true}">
              <th scope="row">
                <div class="custom-control custom-checkbox">
                  <input *ngIf="isAdmin" type="checkbox" class="custom-control-input" id="customCheck{{i+1}}" [checked]="lead.isChecked" (change)="showHideDismissButton(lead , $event)">
                  <label class="custom-control-label" for="customCheck{{i+1}}">{{service.pageSize * (service.page - 1) + i + 1  }}</label>
                </div>
              </th>



              <!--<th scope="row" *ngIf="isTeleCaller">{{service.pageSize * (service.page - 1) + i + 1  }}</th>-->
              <td> <ngb-highlight [result]="lead.firstName" [term]="service.searchTerm"></ngb-highlight>&nbsp;<ngb-highlight [result]="lead.lastName" [term]="service.searchTerm"></ngb-highlight></td>
              <!--<td> <ngb-highlight [result]="lead.lastName" [term]="service.searchTerm"></ngb-highlight></td>-->
              <td> <ngb-highlight [result]="lead.mobileNumber" [term]="service.searchTerm"></ngb-highlight></td>
              <!--<td><a href="mailto:{{lead.emailId}}"><ngb-highlight [result]="lead.emailId" [term]="service.searchTerm"></ngb-highlight> </a></td>-->
              <!--<td> <ngb-highlight [result]="lead.address" [term]="service.searchTerm"></ngb-highlight></td>-->
              <td> <ngb-highlight [result]="lead.cityName" [term]="service.searchTerm"></ngb-highlight></td>
              <!--<td> <ngb-highlight [result]="lead.stateName" [term]="service.searchTerm"></ngb-highlight></td>-->
              <td *ngIf="isAdmin"> <ngb-highlight [result]="lead.createdByName" [term]="service.searchTerm"></ngb-highlight></td>
              <td> <ngb-highlight [result]="lead.createdDate | date" [term]="service.searchTerm"></ngb-highlight></td>
              <td> <ngb-highlight [result]="lead.outComeText" [term]="service.searchTerm"></ngb-highlight></td>
              <td> <ngb-highlight [result]="lead.nextCallDate | date:'medium'" [term]="service.searchTerm"></ngb-highlight></td>
              <td> <ngb-highlight [result]="lead.allocatedToName" [term]="service.searchTerm"></ngb-highlight></td>
              <td> <ngb-highlight [result]="lead.appointmentDateTime | date:'medium'" [term]="service.searchTerm"></ngb-highlight></td>
              <td style="max-width:200px" class="ellipsis"> <ngb-highlight [result]="lead.remark" [term]="service.searchTerm" ngbTooltip="{{lead.remark}}" [openDelay]="700"></ngb-highlight></td>
              <!--<td> <ngb-highlight [class]="user.status ? 'badge badge-success' : 'badge badge-danger' " [result]="user.status ? 'Active' : 'Inactive'" [term]="service.searchTerm"></ngb-highlight></td>-->
              <!--<td *ngIf="isTeleCaller"> <a placement="top" ngbTooltip="Edit Lead" class="btn btn-sm" (click)="editLead(lead.callId)"><i class="fas fa-edit"></i></a></td>
              <td *ngIf="isManager"> <a placement="top" ngbTooltip="Follow up" class="btn btn-sm" (click)="followUp(lead.callId)"><i class="fas fa-phone-square-alt"></i></a></td>-->
              <td class="d-flex flex-row">
                <button type="button" placement="top" ngbTooltip="Edit Lead" class="btn btn-sm btn-outline-warning rounded-circle" (click)="onOpenLeadModal(lead.callId)"><i class="fas fa-edit"></i></button>
                &nbsp;
                <button type="button" placement="top" ngbTooltip="History" class="btn btn-sm btn-outline-info rounded-circle" data-toggle="modal" data-target="#modelViewHistory" (click)="viewHistory(lead.callId,lead.firstName,lead.lastName)"><i class="fas fa-history"></i></button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-between p-2">
        <!--<ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>-->
        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
        <strong>Total Leads : {{total$ | async}}</strong>

        <!--<div>
          <strong>Total Leads : {{total$ | async}}</strong>
          <span class="spinner-border text-primary ml-3" style="margin-bottom:-5px" role="status" aria-hidden="true" *ngIf="isLoading || (service.loading$ | async)"></span>
        </div>-->
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="100">100 items per page</option>
          <option [ngValue]="200">200 items per page</option>
          <option [ngValue]="500">500 items per page</option>
          ti
          /s
        </select>
      </div>
    </form>
  </div>
</div>


<!-- Modal History-->
<div class="modal fade" id="modelViewHistory" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class='table table-striped table-sm' aria-labelledby="tableLabel">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Created Date</th>
              <th scope="col">Status</th>
              <th scope="col">Created By</th>
              <th scope="col">Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let history of callHistory; index as i">
              <th scope="row">{{i + 1}}</th>
              <td>{{history.createdDate | date:'medium'}}</td>
              <td>{{history.outCome.outCome}}</td>
              <td>{{history.createdByNavigation.firstName}} {{history.createdByNavigation.lastName}}</td>
              <td>{{history.remarks}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Understood</button>-->
      </div>
    </div>
  </div>
</div>

<!--Modal Import-->
<div class="modal fade" id="modelImportExcel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Choose Excel To Import</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" accept=".xls,.xlsx" class="custom-file-input" #fileInput id="inputGroupFile" aria-describedby="inputGroupFileAddon" (change)="onFileChange($event.target.files)">
              <label class="custom-file-label" for="inputGroupFile" #labelImport>Choose file</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon" (click)="onUploadFile()">Upload</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <p *ngIf="isUploading"><span class="spinner-border spinner-border text-primary ml-3" role="status" aria-hidden="true"></span> &nbsp;&nbsp; Data Uploading.. Please wait..</p>
        <p class="text-success" *ngIf="isUploadSucc"><i class="far fa-check-circle"></i> {{uploadMsg}}</p>
        <p class="text-danger" *ngIf="isUploadSucc==false"><i class="far fa-times-circle"></i> {{uploadMsg}}</p>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Understood</button>-->
      </div>
    </div>
  </div>
</div>

<!--Modal Delete Confirm-->
<div class="modal fade" id="modelDeleteConfirm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to delete this lead?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteLead(true)">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <!--<button type="button" class="btn btn-primary">Understood</button>-->
      </div>
    </div>
  </div>
</div>

<!--Modal Re Allocate -->
<div class="modal fade" id="modelReAllocate" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Lead Re-Allocation to TC</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Select another TC: <select class="form-control custom-select" [(ngModel)]="reallocatedTcId" name="reallocatedTcId">
          <option [disabled]="currentAllocatedToTC == user.userId" *ngFor="let user of filterUserList" value="{{user.userId}}"> {{user.firstName}} {{user.lastName}}</option>
        </select>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onReAllocationLead()" [disabled]="reallocatedTcId == null">Ok</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <!--<button type="button" class="btn btn-primary">Understood</button>-->
      </div>
    </div>
  </div>
</div>
