<div class="card mr-auto ml-auto col-md-4 nopadding">
  <div class="card-header"><h5>Change Password</h5> </div>
  <div class="card-body">
    <div class="alert alert-danger" id="error-alert" role="alert" *ngIf="IsError">
      <strong>Error!</strong> {{errorMsg}}
    </div>
    <div class="alert alert-success" id="success-alert" role="alert" *ngIf="IsSucess">
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()"><span aria-hidden="true">&times;</span></button>
      <strong>Success!</strong> {{successMsg}}
    </div>

    <p style="color:red">Note: Your password must be between 8-15 characters long, with at least one number and at least one uppercase letter and at least one special character.</p>

    <form #changePwd="ngForm" (ngSubmit)="onSave()" novalidate>
      <!--userAdd.reset()-->

      <div class="form-group">
        User : <strong>{{currentUser.email}}</strong>
      </div>

      <div class="form-group">
        Old Password<strong class="text-danger"> *</strong>
        <input type="password" required #oldPassword="ngModel" name="oldPassword" [class.is-invalid]="oldPassword.invalid && oldPassword.touched"
               pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$#@$!%*?&])[A-Za-z\d$#@$!%*?&].{7,}"
               class="form-control" [(ngModel)]="txtOldPassword" placeholder="Old Password" maxlength="15" />
        <small class="text-danger" *ngIf="oldPassword.errors?.required && oldPassword.touched">* Old Password is required</small>
        <small class="text-danger" *ngIf="oldPassword.errors?.pattern">* Password pattern is not match</small>
      </div>

      <div class="form-group">
        New Password<strong class="text-danger"> *</strong>
        <input type="password" required #newPassword="ngModel" name="newPassword" [class.is-invalid]="newPassword.invalid && newPassword.touched || (txtOldPassword == txtNewPassword && newPassword.touched)"
               pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$#@$!%*?&])[A-Za-z\d$#@$!%*?&].{7,}"
               class="form-control" [(ngModel)]="txtNewPassword" placeholder="New Password" maxlength="15" />
        <small class="text-danger" *ngIf="newPassword.errors?.required && newPassword.touched">* New Password is required</small>
        <small class="text-danger" *ngIf="newPassword.errors?.pattern">* Password pattern is not match</small>
        <small class="text-danger" *ngIf="newPassword.valid && txtOldPassword == txtNewPassword">* Old Password and New Password can not be same</small>
      </div>

      <div class="form-group">
        Confirm Password<strong class="text-danger"> *</strong>
        <input type="password" required #cnfPassword="ngModel" name="cnfPassword" [class.is-invalid]="(cnfPassword.invalid && cnfPassword.touched) || (txtNewPassword != txtCnfPassword && cnfPassword.touched)"
               class="form-control" [(ngModel)]="txtCnfPassword" placeholder="Confirm Password" maxlength="15" />
        <small class="text-danger" *ngIf="cnfPassword.errors?.required && cnfPassword.touched">* Confirm Password is required</small>
        <small class="text-danger" *ngIf="cnfPassword.valid && txtNewPassword != txtCnfPassword">* Password doesn't match</small>

      </div>

      <div class="form-group form-row form-inline">
        <div class=" col-md-12 ">
          <button class="btn btn-primary" [disabled]="changePwd.form.invalid || is_progress" type="submit" style="width:120px;">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="is_progress"></span>
            {{saveBtnTxt}}
          </button>
          &nbsp; &nbsp;
          <button class="btn btn-outline-primary" style="width:120px;" type="button" (click)="onCloseWindow()">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>


