@media print {
  .no-print {
    display: none;
  }
}

@page {
  size: auto;
  margin: 0;
}

.first {
  background-color: lightgray;
  font-weight: bold;
}

.last {
  background-color: lightgray;
  font-weight: bold;
}
