<style>
  input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

    input[type=password]:focus {
      background-color: #fff;
      border-bottom: 2px solid #5fbae9;
    }

    input[type=password]:placeholder {
      color: #cccccc;
    }
</style>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <div class="alert alert-danger" id="error-alert" role="alert" *ngIf="loginError">
      <strong>Error!</strong> {{loginError}}
    </div>
    <!-- Icon -->
    <div class="fadeIn first">
      <h3 class="m-5">Member Login</h3>
    </div>

    <!-- Login Form -->
    <form (submit)="login()" #loginForm="ngForm" novalidate>
      <div class="form-group">
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="Email" [(ngModel)]="credentials.username"
               #username="ngModel" autocomplete="off" required pattern="[a-zA-Z0-9._-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
        <p class="text-danger" *ngIf="username.touched && username.invalid && username.errors.required">* Email is required!</p>
        <p class="text-danger" *ngIf="username.errors?.pattern">* Email is invalid!</p>
      </div>

      <div class="form-group">
        <input type="password" id="password" class="fadeIn third" placeholder="Password" name="password" [(ngModel)]="credentials.password" #password="ngModel" autocomplete="off" required>
        <div class="text-danger" *ngIf="password.touched && password.invalid && password.errors.required">* Password is required!</div>
      </div>

      <div class="form-group">
        <input type="submit" class="fadeIn fourth" value="Log In" [disabled]="loginForm.invalid">
      </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/forgotpassword']">Forgot Password?</a>
    </div>

  </div>
</div>
