<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-info border-bottom box-shadow mb-3">
    <div class="container-fluid">
      <a role="button" (click)="onBrandClick()" class="navbar-brand" style="cursor: pointer"><img [src]="logoSrc" height="40" /></a>
      <button class="navbar-toggler ml-auto float-xs-right"
              type="button"
              data-toggle="collapse"
              data-target="#navbarContent"
              aria-controls="navbarContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
              *ngIf="isLoggedIn">
        <span class="navbar-toggler-icon"></span>
      </button>
      &nbsp; &nbsp; &nbsp;
      <div class="navbar-collapse collapse" id="navbarContent" *ngIf="isLoggedIn">
        <ul class="navbar-nav mr-auto">
          <!--<li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>-->
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="isTeleCaller">
            <a class="btn btn-outline-light" [routerLink]="['/lead-list']">Lead Details</a>
            <!--<a class="nav-link underlineHover active" [routerLink]="['/lead-list']">Lead Details</a>-->
          </li>

          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="isRManager">
            <a class="btn btn-outline-light" [routerLink]="['/lead-list-rm']">Lead Details</a>
          </li>

          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="isSuperUser || isAdminRole">
            <a class="btn btn-outline-light" [routerLink]="['/user-list']">User Details</a>
          </li>
          &nbsp; &nbsp;
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="isSuperUser || isAdminRole">
            <a class="btn btn-outline-light" [routerLink]="['/lead-list']">Agent Leads</a>
          </li>
          &nbsp; &nbsp;

          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="isSuperUser || isAdminRole">
            <a class="btn btn-outline-light" [routerLink]="['/lead-list-rm']">Manager Leads</a>
          </li>
          &nbsp; &nbsp;

          <!------------------------------------->

          <li class="nav-item dropdown" *ngIf="isSuperUser || isAdminRole">
            <a id="dropdownSubMenuReport" href="#" data-toggle="dropdown" aria-haspopup="true" class="btn btn-outline-light">Reports</a>
            <ul aria-labelledby="dropdownSubMenuReport" class="dropdown-menu">
              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenuSummary" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" class="dropdown-item dropdown-toggle" style="padding-left: 10px;padding-right: 10px;">Summary Report</a>
                <ul aria-labelledby="dropdownSubMenuSummary" class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" [routerLink]="['/tele-caller-summary-rpt']">Telecaller Report</a>
                    <a class="dropdown-item" [routerLink]="['/rele-manager-summary-rpt']">Manager Report</a>
                  </li>
                </ul>
              </li>
              <!-- End Level two -->
            </ul>
          </li>
          &nbsp; &nbsp;

          <!------------------------------------->
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="isSuperUser || isAdminRole">
            <a class="btn btn-outline-light" [routerLink]="['/admin-calender']">Calender</a>
          </li>
        </ul>
        <span class="navbar-text" style="color:white">
          Welcome {{userName}}
        </span>
        <ul class="navbar-nav">

          <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
            <a class="nav-link" style="cursor: pointer; color:white" ngbDropdownToggle id="navbarDropdownUser" role="button">
              <i class="fas fa-user"></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdownUser" class="dropdown-menu">
              <!--<button ngbDropdownItem (click)="$event.preventDefault()">Profile</button>-->
              <button ngbDropdownItem [routerLink]="['/chng-pwd']">Change Password</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem (click)="logout()"><i class="fas fa-sign-out-alt mr-3"></i>Log out</button>
            </div>
          </li>

          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="isSuperUser || isAdminRole">
            <a class="nav-link" style="cursor: pointer; color:white" [routerLink]="['/setting']"><i class="fas fa-cog"></i></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
